<!DOCTYPE html>
<html lang="ro">

<head>

    <%- include("../fragments/standardHead.ejs") %>
        <title>Produse</title>
        <link rel="stylesheet" href="/src/styles/product.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

    <%- include("../fragments/header.ejs") %>
        <h2>
            Produse
        </h2>

        <div class="containerProduse">
            <span id="preselectedOption">
                <%- mainCategory %>
            </span>

            <div id="radio">
                <% for(let elem of locals.mainCategories) { %> 
                <input type="radio" id="firma" name="mainCategory" value="<%- elem.main_category %>"><%- elem.main_category.charAt(0).toUpperCase() + elem.main_category.slice(1) %><br>
                <% } %> 
                <input type="radio" id="all" name="mainCategory" value="all">Toate
            </div>
            
            <div id = "pret">
                Pret
                <input type="range" name="pret" id="pretMin" max="500" min="0" value="0">
                <div style="flex-direction: row;"><span id="valueMin"></span> - <span id="valueMax"></span></div>
                <input type="range" name="pret" id="pretMax" max="500" min="0" value="500">
            </div>

            <div id="checkBoxes">

                <% for(let elem of locals.secondCategories) { %> 
                <span class = "checkboxes"> 
                    <input type="checkbox" name="<%- elem %>" id="<%- elem %>"><%- elem.charAt(0).toUpperCase() + (elem.replace(/([a-z](?=[A-Z]))/g, '$1 ')).slice(1) %>:
                    <br>
                    <input type="radio" name="<%- elem %>" id="<%- elem %>Are" value="are"><span>are</span>
                    <input type="radio" name="<%- elem %>" id="<%- elem %>NuAre" value="nuAre"><span>nu are</span>
                </span>
                <% } %> 
            </div>
            <div class = "search">
                <span>Search:</span><br>
                <input type="text" name="search" id="search">
            </div>

            <div class="buttons">
                <div class="sortBtn btn" id="filter">Filtreaza</div>
                <div class="sortBtn btn" id="aSort">Sortare ascendenta</div>
                <div class="sortBtn btn" id="dSort">Sortare descendenta</div>
                <div class="sortBtn btn" id="calcBtn">Calculare</div>
                <div class="resetBtn btn" id="reset">Reset</div>
            </div>

           

        </div>

        <%- include("../fragments/productsFragment.ejs") %>
            <%- include("../fragments/footer.ejs") %>
                <script src="/src/scripts/filters.js"></script>
</body>

</html>