
<div id="products" class="containerProduse">
    <% let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
    <% let monthsRo = ['Ian', 'Feb', 'Mar', 'Apr', 'Mai', 'Iun', 'Iul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']  %>  
    <% let days =['luni' , 'marti' , 'miercuri', 'joi', 'vineri', 'sambata', 'duminica'] %> 
    <%for(let product of locals.products) { %>
        <a class="produs" id="prod_<%- product.id %>" href="/produs/<%- product.id %> ">
            <div >
                <!--am folosit  tagurile i, s, strong-->

                <b>
                    <span class="name"><%- product.name %></span>: <span class="price"><%- product.price %> </span> lei
                </b>

                <p>
                    <%- product.description %>
                </p>

                <p>
                    Data adaugarii: <time>  <span class = "inactive" lang="en-us">  <%- product.date_added.getDay() %>-<%- months[product.date_added.getMonth()] %>-<%- product.date_added.getFullYear() %></span>
                                            <span class="inactive" lang="ro"> <%- days[product.date_added.getDay()] %> <%- product.date_added.getDay() %>-<%- monthsRo[product.date_added.getMonth()] %>-<%- product.date_added.getFullYear() %> </span>
                                    </time>
                </p>
                <p>
                    Produs in promotie:
                    <% if(product.special==true) { %>
                        <%- "Da" %>
                            <% } else { %>
                                <%- "Nu" %>
                                    <% } %>
                                        <br><small><small><small>Cod produs: artc-<span class="productId"><%- product.id %><span></small></small>
                                        </small>
                </p>
                <span style="visibility: hidden; position: absolute;" class="mainProp"><%- product.main_category %> </span>
                <span style="visibility: hidden; position: absolute;" class="props">
                    <%for(let elem of product.second_categories) { %><%- elem %> <% } %>
                </span>

                <details>
                    <summary>Principalele caracteristici</summary>
                    <ul>
                        <%for(let i=0; i<3; i++) { %>
                            <li>
                                <%- product.properties[i] %>
                            </li>
                            <% } %>
                    </ul>
                </details>

            </div>
        </a>

        <% } %>
</div>

<script>
    let lang = (document.getElementsByTagName('html'))[0].lang;

    let smallList = document.getElementsByClassName('inactive');

    for(let elem of smallList) {
        if (elem.lang == lang)
            elem.className = '';
    }
</script>